Source: virtiofs
Section: kernel
Priority: optional
Maintainer: Aurelien Aptel <aaptel@nvidia.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, bzip2, dh-dkms | dkms (<< 3.0),
Standards-Version: 4.2.0
Homepage: http://nvidia.com

Package: virtiofs-dkms
Section: kernel
Architecture: all
Depends: dkms, make, mlnx-ofed-kernel-dkms, ${misc:Depends}
Recommends: linux-headers-arm64 | linux-headers-powerpc | linux-headers-ppc64 | linux-headers-ppc64le | linux-headers-amd64 | linux-headers | linux-headers-generic
Description: DKMS support fo virtiofs kernel modules
 This package provides integration with the DKMS infrastructure for automatically building out of tree kernel modules.
 .
 This package contains the source to be built with dkms.
